html, body, .main-container {
    height:100%;
}

.main-container {
    background: #ecf0f1;
}
.page-content {
    width:90%;
    min-height:100%;
    margin:0px auto;
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,.45);
    padding:8px 20px 24px;
    min-width: 250px;
}

.page-content-inner {
    padding:20px;
}
header {
    background-color:#cfcfc4;  /* #00ada7 */
    display:inline-block;
    vertical-align:middle;
    width:100%;
    padding:0px;
    margin:0px;
    border-radius:10px;
}

.tags .tag {
    background-color: #006d69 !important;
}

.login-box {
    border-radius:8px;
    -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,.45);
}
/* VIDDMONK */
.viddlogin
{
    background-image: url('../images/login_back.jpg');
}
.widget-box{
    margin-right:auto;
    margin-left:auto;
}

.width-constrained{
    max-width:1296px;
}
.vdPattern {
    background-image: url('pattern.jpg');
}

/* colors used in viddmonk */
.vdTitle {
    color: #006d69 !important;
}

.vdTitleBox {
    background: #393939;
}

.vdSalmon {
    background: #006d69 !important;
}

.infocontainersmall
{
    width: 250px;
    height:325px;
    border-radius:4px;
    border: 1px;
    background: white;
    /* border-style:solid;
    border-color:#dbdbdb; */
    box-shadow: 1px 1px 3px rgba(0,0,0,.45);
    margin:10px;
    overflow:hidden;
    display:inline-block;
    position:relative;
}

.play {
    background: url('../images/play-overlay.png') center center no-repeat;
    margin: -240px 10px 0 0;
    height: 150px;
    position: relative;
    z-index: 10;
    opacity:0.7;
}

.infocontainersmallhover
{
    /* background:gray; */
    background: #ecf0f1;
    box-shadow: 1px 1px 5px rgba(0,0,0,.75);
}
.infocontainersmallnew
{
    background-color: white ;   /*#7C9599 */
    opacity: 0.8;
}

.infocontainersmallnewcenter
{
    position:absolute;
    top:230px; /* half of the full height */
    left: 110px;
}
.infocontainerbuttonbar
{
    text-align: center;
    background-color: #ecf0f1;    /*ecf0f1*/
    padding:0px;
    opacity:0.6;
}
.infocontainerimagecontainer
{
    width: 250px;
    height:250px;
    overflow:hidden;
}

.infocontainerimage
{
    height: 100%;
}

.videocontainer
{
    width: 350px;
    height:425px;
    border-radius:8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px;
    background: white;
    /*
    border-style:solid;
    border-color:rgba(0,0,0,.10);
    */
    box-shadow: 1px 1px 3px rgba(0,0,0,.45);
    overflow:hidden;
    margin:10px;
    display:inline-block;
    position:relative;
}

.videoposter {
    width: 350px;
    height:350px;
    overflow:hidden;
    z-index: 1;
    position:absolute;
    top: 0; left: 0;
}
.videoplayer
{
    width: 350px;
    height:350px;
    overflow:hidden;
    z-index:2;
    position:absolute;
    top: 0; left: 0;
}

.videoplayicon
{
    background: url('../images/play-overlay.png') center center no-repeat;
    position: absolute;
    z-index: 10;
    opacity:0.5;
    width:350px;
    height:350px;
}

.videoinfo {
    position:absolute ;
    bottom:0;
    width:100%;
}

.absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    display: block;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}

.brand
{
    background: #dcfcd9;
}

.newvideo
{
    background: #d0e9c6;
}

.videocontainersmall
{
    float: left;
    width: 200px;
    height:250px;
    border-radius:10px;

    border: 1px;
    background: #ffffff;
    box-shadow: 2px 2px 2px #d3d3d3;
    padding:10px;
    margin:10px;
}

.infocontainermsgboxicon
{
    display: inline-block;
    width:30px;
    background-color: lightblue;
    height:25px;
    vertical-align: bottom;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 5px;
}

.infocontainermsgbox
{
    display: inline-block;
    width:145px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-top: 3px;
    vertical-align: bottom;
    background-color: lightblue;
    height:25px;
    margin-bottom: 5px;
}

.content {
    display: none;
}

.margin-auto {
    margin:auto;
}

.tab-pane {
    min-height:300px;
}

/* custom buttons */

.btn-vdsalmon,
.btn-vdsalmon:focus {
    background-color: #006d69 !important;
    border-color: #006d69;
}

.btn-vdsalmon:hover
{
    background-color: #00ada7 !important;
    border-color: #00ada7;
}

.btn-vddarkgrey,
.btn-vddarkgrey:focus {
    background-color: #36494c !important;
    border-color: #36494c;
}

.btn-vddarkgrey:hover
{
    background-color: #7c9599 !important;
    border-color: #7c9599;
}


.btn-vdlightgrey,
.btn-vdlightgrey:focus {
    background-color: #7C9599 !important;
    border-color: #7C9599;
}

.btn-vdlightgrey:hover
{
    background-color: #9a9a9a !important;
    border-color: #9a9a9a;
}

.toupper
{
    text-transform:uppercase;font-weight:900;
}

.title-with-lines.title-narrow{max-width:75%}
.title-with-lines{overflow:hidden;text-align:center;font:20px/32px 'museo-sans',sans-serif;text-transform:uppercase;font-weight:900;margin-left:auto;margin-right:auto;max-width:95%;}
@media (min-width:641px){.title-with-lines:after,.title-with-lines:before{background-color:#b0b0b0;content:" ";display:inline-block;height:1px;position:relative;vertical-align:middle;width:50%;top:-2px}
    .title-with-lines:before{right:.75em;margin-left:-50%}
    .title-with-lines:after{left:.75em;margin-right:-50%}
    .title-with-lines.title-narrow{max-width:75%}
    .title-with-lines.title-left{max-width:100%;text-align:left;padding-left:64px;}
    .title-with-lines.title-left:after{width:100%}}


/* video controls */

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, rgb(3,113,168)),
        color-stop(1, rgb(0,136,204))
    );
}

#video-container:hover #video-controls {
    opacity: .9;
}

button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

#seek-bar {
    width: 360px;
}

#volume-bar {
    width: 60px;
}


.sidebar-left {
    margin-top: -30px;
    left: 0;
    position: fixed;
    top: 30%;
    text-align: center;  
    -webkit-transition: left .1s ease-out .1s;
    transition: left .1s ease-out .1s;
}

.share-sidebar {
    height: 70px;
margin: 15px 7px;
font-size: 15px;
font-weight: 500;
cursor: pointer;
text-align: center;
color: #2c3e50;

}

.icon-share {
    width: 42px;
height: 42px;
border-radius: 50%;
background-size: 42px 42px;
background-repeat: no-repeat;
background-position: center center;
margin: 0 auto 10px auto;
background-color: #3498db;
}

